<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>arduino proxy : {{ action }}</title>
<link type="text/css" rel="stylesheet" href="/main.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
<script type="text/javascript">
    $(function() {
        $("input[name=type]").val(['{{ type }}{{ ua.type }}']);
        if( "{{ ua.editable }}" == "False" ){
            $('#savebtn').attr("disabled","disabled");
        }
    });
</script>
</head>
<body><div id="body">
    <h1><a href="/">arduino proxy</a></h1>
	<div id="navi">
        <a href ="https://cacoo.com/diagrams/n4Mydbj5iWA9M9LR-671C8.png" target="_blank">
        [parameter info]
        </a><br />
	</div>
    <div id="content">
	<form action="/{{ action }}" method="post">
        <input type="hidden" name="key" value="{{ ua.key }}">
        <input type="hidden" name="user" value="{{ ua.user}}">
        {{ user }}{{ ua.user }}/
        <input type="text" name="name" value="{{ name }}{{ ua.name }}"><br />

        <div class="block">
            <span class="h2bold">Description</span><br />
            <textarea name="desc" rows="3" cols="40">{{ desc }}{% if ua.desc %}{{ ua.desc }}{% endif %}</textarea>
        </div>

        <div class="block">
            <span class="h2bold">Fetch</span><br />
        <input type="text" size="40" name="url0" value="{{ url0 }}{{ ua.url0 }}">*
        <br />
        +Parameter<br />
        +<input type="text" name="url1" value="{{ url1 }}{% if ua.url1 %}{{ ua.url1 }}{% endif %}">
        <br /></div>

        <div class="block">
        <span class="h2bold">Test Parameter</span><br />
        <input type="text" name="val1" value="{{ val1 }}{% if ua.val %}{{ ua.val1 }}{% endif %}">
        </div>

        <div class="block">
        <span class="h2bold">Response</span><br />
        <input type="radio" name="type" value="All">
        All<br />
        <input type="radio" name="type" value="ByTagName">
        ByTagName
        <input type="text" name="TagName" value="{{ TagName }}{% if ua.TagName %}{{ ua.TagName }}{% endif %}"><br />
        </div>
        <input id="savebtn" type="submit" value="save">
    </form>
    {{ debug }}
    </div>
    <div id="footer">.
	</div>

</div></body>
</html>


