<html>
    <body>
    <h1><a href="/">arduino proxy</a></h1>
    {% if debug %}
    {{ debug }}<br />
    {% endif %}
    {{ greeting }}<br />
    {% if authsub_url %}
    <a href="{{ authsub_url }}">Authorize Access</a><br />
    {% endif %}
    <ul>
        {% for ua in uas %}
        <li>
        <a href="/edit/{{ ua.user }}/{{ ua.name }}">
        {{ ua.name }}</a>
        <a href="/del/{{ ua.key }}">[x]</a>
        <a href="/user/{{ ua.user }}/{{ ua.name }}">[test]</a>
        </li>
        {% endfor %}
    </ul>
    {{ link }}<br />

    {% if authsub %}
    <form id="post_form" method="POST">
    <table id="post_table">
    <tr>
        <td><div class="form_label">Title:</div></td>
        <td><input type="text" name="event_title" value="{{ sample_event_title }}" /></td></tr>
    <tr>
        <td colspan="2"><div class="form_label">Description:</div>
            <textarea name="event_description" cols="25" rows="5">
{{ sample_description }}</textarea></td></tr>
    <tr>
        <td colspan="2"><input type="submit" value="Submit!" /></td></tr></table>
    </form>
    {% endif %}

</body>
</html>

