<html>
    <body>
    <h1><a href="/">arduino proxy</a></h1>
    {% if debug %}
    {{ debug }}<br />
    {% endif %}
    {{ greeting }}<br />
    {% if uas %}
    <ul>
        {% for ua in uas %}
        <li>
        <a href="/edit/{{ ua.user }}/{{ ua.name }}">
        {{ ua.name }}</a>
        <a href="/del/{{ ua.key }}">[x]</a>
        <a href="/user/{{ ua.user }}/{{ ua.name }}">[test]</a>
        </li>
        {% endfor %}
    </ul>
    <form action="/new" method="GET">
        <input type="submit" value="Create UserAction">
    </form>
    <form action="/cal" method="GET">
        <input type="submit" value="calendar setting">
    </form>
    {% endif %}

    {% if authsub %}
    You can send event to google calendar.<br />
    Replace 'test' below.<br />
    <input type="text" size="50" value="http://{{ host_name }}/cal/{{ user }}/test"><br />
    {% endif %}

    {% if authsub_url %}
    <a href="{{ authsub_url }}">Authorize Access</a>
    {% endif %}

    {{ link }}
</body>
</html>

