<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>arduino proxy</title>
<link type="text/css" rel="stylesheet" href="/main.css">
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
<script type="text/javascript">
    $(function() {
        if( "{{ anonymous }}" == "anonymous" ){
            $('#calbtn').attr("disabled","disabled");
        }
    });
</script>
</head>
<body><div id="body">
    <h1><a href="/">arduino proxy</a></h1>
    <div id="navi">
    {{ greeting }}<br />
    <p>
        <form action="/new" method="GET">
        <input type="submit" value="Create UserAction">
        </form>
    </p>
    <p>
        <form action="/cal" method="GET">
        <input type="submit" id="calbtn" value="Calendar Setting">
        </form>
    </p>
    </div>
    <div id="content">
        {{ link }}
        <ul>
    {% if uas %}
        {% for ua in uas %}
        <li>
        <a href="/edit/{{ ua.key }}">
            {{ ua.name }}</a>
        {% if ua.editable %}
        <a href="/del/{{ ua.key }}">[x]</a>
        {% endif %}
        <a href="/user/{{ ua.key }}{% if ua.val1 %}/{{ ua.val1 }}{% endif %}">[test]</a><br />
        {% if ua.desc %}
            <font color="gray">{{ ua.desc }}</font><br />
        {% endif %}
        </li>
        {% endfor %}
    {% endif %}
    </ul>

    {% if authsub %}
    You can send event to google calendar.<br />
    Replace 'test' below.<br />
    <input type="text" size="50" value="http://{{ host_name }}/cal/{{ user }}/test"><br />
    {% endif %}

    {% if authsub_url %}
    <a href="{{ authsub_url }}">Authorize Access</a>
    {% endif %}

    </div>
    <div id="footer">
        <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="usopyon" data-lang="ja">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    {% if debug %}
    {{ debug }}<br />
    {% endif %}
    </div>
</div>
</body>
</html>

